#**Lending Club: An EDA Case Study**


This notebook explores loan default prediction using Exploratory Data Analysis (EDA). We'll analyze data from a consumer finance company to identify patterns indicative of loan defaults.

By examining past loan applications, our goal is to uncover crucial consumer and loan attributes that influence repayment tendencies. This insight will assist the company in refining its risk assessment strategies and reducing credit losses.

Here, we've utilized risk analytics concepts, particularly focusing on variable types and their impact on defaults.

Let's commence by uncovering the hidden patterns within the loan data and constructing a robust system to predict loan defaults!

In [ ]:
# Import libraries for data manipulation and analysis
import pandas as pd
import numpy as np

# Import libraries for data visualization
import matplotlib.pyplot as plt
import seaborn as sns

# Suppress warnings
import warnings
warnings.filterwarnings('ignore')

# Mount Google Drive (optional, for Colab notebooks)
# from google.colab import drive
# drive.mount('/content/drive')

Mounted at /content/drive

In [31]:
# Define the file path to the loan data
file_path = '/content/drive/MyDrive/lending-club-case-study/loan.csv'
#file_path = '/loan.csv'

# Read the loan data into a pandas DataFrame
df = pd.read_csv(file_path)

# Filter the DataFrame to exclude loans with 'Current' status
# We'll focus on 'Fully Paid' and 'Charged Off' (defaulted) loans for analysis
df = df[df['loan_status'] != 'Current']

# Drop duplicates based on 'id' and 'member_id'
df_unique = df.drop_duplicates(subset=['id', 'member_id'], keep='first')  # Keep the first occurrence

# Display the first few rows of the filtered DataFrame (head())
print(df.head())

        id  member_id  loan_amnt  funded_amnt  funded_amnt_inv        term  \
0  1077501    1296599       5000         5000           4975.0   36 months
1  1077430    1314167       2500         2500           2500.0   60 months
2  1077175    1313524       2400         2400           2400.0   36 months
3  1076863    1277178      10000        10000          10000.0   36 months
5  1075269    1311441       5000         5000           5000.0   36 months

  int_rate  installment grade sub_grade             emp_title emp_length  \
0   10.65%       162.87     B        B2                   NaN  10+ years
1   15.27%        59.83     C        C4                 Ryder   < 1 year
2   15.96%        84.33     C        C5                   NaN  10+ years
3   13.49%       339.31     C        C1   AIR RESOURCES BOARD  10+ years
5    7.90%       156.46     A        A4  Veolia Transportaton    3 years

  home_ownership  annual_inc verification_status issue_d  loan_status  \
0           RENT     24000.0            Verified  Dec-11   Fully Paid
1           RENT     30000.0     Source Verified  Dec-11  Charged Off
2           RENT     12252.0        Not Verified  Dec-11   Fully Paid
3           RENT     49200.0     Source Verified  Dec-11   Fully Paid
5           RENT     36000.0     Source Verified  Dec-11   Fully Paid

  pymnt_plan                                                url  \
0          n  https://lendingclub.com/browse/loanDetail.acti...
1          n  https://lendingclub.com/browse/loanDetail.acti...
2          n  https://lendingclub.com/browse/loanDetail.acti...
3          n  https://lendingclub.com/browse/loanDetail.acti...
5          n  https://lendingclub.com/browse/loanDetail.acti...

                                                desc         purpose  \
0    Borrower added on 12/22/11 > I need to upgra...     credit_card
1    Borrower added on 12/22/11 > I plan to use t...             car
2                                                NaN  small_business
3    Borrower added on 12/21/11 > to pay for prop...           other
5                                                NaN         wedding

                                   title zip_code addr_state    dti  \
0                               Computer    860xx         AZ  27.65
1                                   bike    309xx         GA   1.00
2                   real estate business    606xx         IL   8.72
3                               personel    917xx         CA  20.00
5  My wedding loan I promise to pay back    852xx         AZ  11.20

   delinq_2yrs earliest_cr_line  inq_last_6mths  mths_since_last_delinq  \
0            0           Jan-85               1                     NaN
1            0           Apr-99               5                     NaN
2            0           Nov-01               2                     NaN
3            0           Feb-96               1                    35.0
5            0           Nov-04               3                     NaN

   mths_since_last_record  open_acc  pub_rec  revol_bal revol_util  total_acc  \
0                     NaN         3        0      13648     83.70%          9
1                     NaN         3        0       1687      9.40%          4
2                     NaN         2        0       2956     98.50%         10
3                     NaN        10        0       5598        21%         37
5                     NaN         9        0       7963     28.30%         12

  initial_list_status  out_prncp  out_prncp_inv   total_pymnt  \
0                   f        0.0            0.0   5863.155187
1                   f        0.0            0.0   1008.710000
2                   f        0.0            0.0   3005.666844
3                   f        0.0            0.0  12231.890000
5                   f        0.0            0.0   5632.210000

   total_pymnt_inv  total_rec_prncp  total_rec_int  total_rec_late_fee  \
0          5833.84          5000.00         863.16                0.00
1          1008.71           456.46         435.17                0.00
2          3005.67          2400.00         605.67                0.00
3         12231.89         10000.00        2214.92               16.97
5          5632.21          5000.00         632.21                0.00

   recoveries  collection_recovery_fee last_pymnt_d  last_pymnt_amnt  \
0        0.00                     0.00       Jan-15           171.62
1      117.08                     1.11       Apr-13           119.66
2        0.00                     0.00       Jun-14           649.91
3        0.00                     0.00       Jan-15           357.48
5        0.00                     0.00       Jan-15           161.03

  next_pymnt_d last_credit_pull_d  collections_12_mths_ex_med  \
0          NaN             May-16                         0.0
1          NaN             Sep-13                         0.0
2          NaN             May-16                         0.0
3          NaN             Apr-16                         0.0
5          NaN             Jan-16                         0.0

   mths_since_last_major_derog  policy_code application_type  \
0                          NaN            1       INDIVIDUAL
1                          NaN            1       INDIVIDUAL
2                          NaN            1       INDIVIDUAL
3                          NaN            1       INDIVIDUAL
5                          NaN            1       INDIVIDUAL

   annual_inc_joint  dti_joint  verification_status_joint  acc_now_delinq  \
0               NaN        NaN                        NaN               0
1               NaN        NaN                        NaN               0
2               NaN        NaN                        NaN               0
3               NaN        NaN                        NaN               0
5               NaN        NaN                        NaN               0

   tot_coll_amt  tot_cur_bal  open_acc_6m  open_il_6m  open_il_12m  \
0           NaN          NaN          NaN         NaN          NaN
1           NaN          NaN          NaN         NaN          NaN
2           NaN          NaN          NaN         NaN          NaN
3           NaN          NaN          NaN         NaN          NaN
5           NaN          NaN          NaN         NaN          NaN

   open_il_24m  mths_since_rcnt_il  total_bal_il  il_util  open_rv_12m  \
0          NaN                 NaN           NaN      NaN          NaN
1          NaN                 NaN           NaN      NaN          NaN
2          NaN                 NaN           NaN      NaN          NaN
3          NaN                 NaN           NaN      NaN          NaN
5          NaN                 NaN           NaN      NaN          NaN

   open_rv_24m  max_bal_bc  all_util  total_rev_hi_lim  inq_fi  total_cu_tl  \
0          NaN         NaN       NaN               NaN     NaN          NaN
1          NaN         NaN       NaN               NaN     NaN          NaN
2          NaN         NaN       NaN               NaN     NaN          NaN
3          NaN         NaN       NaN               NaN     NaN          NaN
5          NaN         NaN       NaN               NaN     NaN          NaN

   inq_last_12m  acc_open_past_24mths  avg_cur_bal  bc_open_to_buy  bc_util  \
0           NaN                   NaN          NaN             NaN      NaN
1           NaN                   NaN          NaN             NaN      NaN
2           NaN                   NaN          NaN             NaN      NaN
3           NaN                   NaN          NaN             NaN      NaN
5           NaN                   NaN          NaN             NaN      NaN

   chargeoff_within_12_mths  delinq_amnt  mo_sin_old_il_acct  \
0                       0.0            0                 NaN
1                       0.0            0                 NaN
2                       0.0            0                 NaN
3                       0.0            0                 NaN
5                       0.0            0                 NaN

   mo_sin_old_rev_tl_op  mo_sin_rcnt_rev_tl_op  mo_sin_rcnt_tl  mort_acc  \
0                   NaN                    NaN             NaN       NaN
1                   NaN                    NaN             NaN       NaN
2                   NaN                    NaN             NaN       NaN
3                   NaN                    NaN             NaN       NaN
5                   NaN                    NaN             NaN       NaN

   mths_since_recent_bc  mths_since_recent_bc_dlq  mths_since_recent_inq  \
0                   NaN                       NaN                    NaN
1                   NaN                       NaN                    NaN
2                   NaN                       NaN                    NaN
3                   NaN                       NaN                    NaN
5                   NaN                       NaN                    NaN

   mths_since_recent_revol_delinq  num_accts_ever_120_pd  num_actv_bc_tl  \
0                             NaN                    NaN             NaN
1                             NaN                    NaN             NaN
2                             NaN                    NaN             NaN
3                             NaN                    NaN             NaN
5                             NaN                    NaN             NaN

   num_actv_rev_tl  num_bc_sats  num_bc_tl  num_il_tl  num_op_rev_tl  \
0              NaN          NaN        NaN        NaN            NaN
1              NaN          NaN        NaN        NaN            NaN
2              NaN          NaN        NaN        NaN            NaN
3              NaN          NaN        NaN        NaN            NaN
5              NaN          NaN        NaN        NaN            NaN

   num_rev_accts  num_rev_tl_bal_gt_0  num_sats  num_tl_120dpd_2m  \
0            NaN                  NaN       NaN               NaN
1            NaN                  NaN       NaN               NaN
2            NaN                  NaN       NaN               NaN
3            NaN                  NaN       NaN               NaN
5            NaN                  NaN       NaN               NaN

   num_tl_30dpd  num_tl_90g_dpd_24m  num_tl_op_past_12m  pct_tl_nvr_dlq  \
0           NaN                 NaN                 NaN             NaN
1           NaN                 NaN                 NaN             NaN
2           NaN                 NaN                 NaN             NaN
3           NaN                 NaN                 NaN             NaN
5           NaN                 NaN                 NaN             NaN

   percent_bc_gt_75  pub_rec_bankruptcies  tax_liens  tot_hi_cred_lim  \
0               NaN                   0.0        0.0              NaN
1               NaN                   0.0        0.0              NaN
2               NaN                   0.0        0.0              NaN
3               NaN                   0.0        0.0              NaN
5               NaN                   0.0        0.0              NaN

   total_bal_ex_mort  total_bc_limit  total_il_high_credit_limit
0                NaN             NaN                         NaN
1                NaN             NaN                         NaN
2                NaN             NaN                         NaN
3                NaN             NaN                         NaN
5                NaN             NaN                         NaN

In [32]:
# Generate summary statistics of the DataFrame
print(df.describe())

                 id     member_id     loan_amnt   funded_amnt  \
count  3.857700e+04  3.857700e+04  38577.000000  38577.000000
mean   6.763787e+05  8.422843e+05  11047.025430  10784.058506
std    2.092639e+05  2.644519e+05   7348.441646   7090.306027
min    5.473400e+04  7.069900e+04    500.000000    500.000000
25%    5.120330e+05  6.611310e+05   5300.000000   5200.000000
50%    6.564230e+05  8.392920e+05   9600.000000   9550.000000
75%    8.291460e+05  1.037336e+06  15000.000000  15000.000000
max    1.077501e+06  1.314167e+06  35000.000000  35000.000000

       funded_amnt_inv   installment    annual_inc           dti  \
count     38577.000000  38577.000000  3.857700e+04  38577.000000
mean      10222.481123    322.466318  6.877797e+04     13.272727
std        7022.720644    208.639215  6.421868e+04      6.673044
min           0.000000     15.690000  4.000000e+03      0.000000
25%        5000.000000    165.740000  4.000000e+04      8.130000
50%        8733.440000    277.860000  5.886800e+04     13.370000
75%       14000.000000    425.550000  8.200000e+04     18.560000
max       35000.000000   1305.190000  6.000000e+06     29.990000

        delinq_2yrs  inq_last_6mths  mths_since_last_delinq  \
count  38577.000000    38577.000000            13672.000000
mean       0.146668        0.871737               35.882534
std        0.492271        1.071546               22.028093
min        0.000000        0.000000                0.000000
25%        0.000000        0.000000               18.000000
50%        0.000000        1.000000               34.000000
75%        0.000000        1.000000               52.000000
max       11.000000        8.000000              120.000000

       mths_since_last_record      open_acc       pub_rec      revol_bal  \
count             2740.000000  38577.000000  38577.000000   38577.000000
mean                69.260949      9.275423      0.055422   13289.489826
std                 43.987761      4.401588      0.237804   15866.492241
min                  0.000000      2.000000      0.000000       0.000000
25%                 19.750000      6.000000      0.000000    3650.000000
50%                 90.000000      9.000000      0.000000    8762.000000
75%                104.000000     12.000000      0.000000   16912.000000
max                129.000000     44.000000      4.000000  149588.000000

          total_acc  out_prncp  out_prncp_inv   total_pymnt  total_pymnt_inv  \
count  38577.000000    38577.0        38577.0  38577.000000     38577.000000
mean      22.052648        0.0            0.0  11866.970365     11271.196153
std       11.425861        0.0            0.0   8809.856227      8700.845592
min        2.000000        0.0            0.0      0.000000         0.000000
25%       13.000000        0.0            0.0   5513.497338      5019.590000
50%       20.000000        0.0            0.0   9674.048405      9066.660000
75%       29.000000        0.0            0.0  16136.952430     15329.780000
max       90.000000        0.0            0.0  58563.679930     58563.680000

       total_rec_prncp  total_rec_int  total_rec_late_fee    recoveries  \
count     38577.000000   38577.000000        38577.000000  38577.000000
mean       9648.322898    2119.243370            1.368634     98.035545
std        7009.381200    2389.499511            7.315880    698.650182
min           0.000000       0.000000            0.000000      0.000000
25%        4500.000000     643.990000            0.000000      0.000000
50%        8000.000000    1300.450000            0.000000      0.000000
75%       13175.000000    2671.980000            0.000000      0.000000
max       35000.020000   23563.680000          180.200000  29623.350000

       collection_recovery_fee  last_pymnt_amnt  collections_12_mths_ex_med  \
count             38577.000000     38577.000000                     38521.0
mean                 12.772728      2746.243218                         0.0
std                 150.836853      4494.648131                         0.0
min                   0.000000         0.000000                         0.0
25%                   0.000000       217.420000                         0.0
50%                   0.000000       568.260000                         0.0
75%                   0.000000      3447.250000                         0.0
max                7002.190000     36115.200000                         0.0

       mths_since_last_major_derog  policy_code  annual_inc_joint  dti_joint  \
count                          0.0      38577.0               0.0        0.0
mean                           NaN          1.0               NaN        NaN
std                            NaN          0.0               NaN        NaN
min                            NaN          1.0               NaN        NaN
25%                            NaN          1.0               NaN        NaN
50%                            NaN          1.0               NaN        NaN
75%                            NaN          1.0               NaN        NaN
max                            NaN          1.0               NaN        NaN

       verification_status_joint  acc_now_delinq  tot_coll_amt  tot_cur_bal  \
count                        0.0         38577.0           0.0          0.0
mean                         NaN             0.0           NaN          NaN
std                          NaN             0.0           NaN          NaN
min                          NaN             0.0           NaN          NaN
25%                          NaN             0.0           NaN          NaN
50%                          NaN             0.0           NaN          NaN
75%                          NaN             0.0           NaN          NaN
max                          NaN             0.0           NaN          NaN

       open_acc_6m  open_il_6m  open_il_12m  open_il_24m  mths_since_rcnt_il  \
count          0.0         0.0          0.0          0.0                 0.0
mean           NaN         NaN          NaN          NaN                 NaN
std            NaN         NaN          NaN          NaN                 NaN
min            NaN         NaN          NaN          NaN                 NaN
25%            NaN         NaN          NaN          NaN                 NaN
50%            NaN         NaN          NaN          NaN                 NaN
75%            NaN         NaN          NaN          NaN                 NaN
max            NaN         NaN          NaN          NaN                 NaN

       total_bal_il  il_util  open_rv_12m  open_rv_24m  max_bal_bc  all_util  \
count           0.0      0.0          0.0          0.0         0.0       0.0
mean            NaN      NaN          NaN          NaN         NaN       NaN
std             NaN      NaN          NaN          NaN         NaN       NaN
min             NaN      NaN          NaN          NaN         NaN       NaN
25%             NaN      NaN          NaN          NaN         NaN       NaN
50%             NaN      NaN          NaN          NaN         NaN       NaN
75%             NaN      NaN          NaN          NaN         NaN       NaN
max             NaN      NaN          NaN          NaN         NaN       NaN

       total_rev_hi_lim  inq_fi  total_cu_tl  inq_last_12m  \
count               0.0     0.0          0.0           0.0
mean                NaN     NaN          NaN           NaN
std                 NaN     NaN          NaN           NaN
min                 NaN     NaN          NaN           NaN
25%                 NaN     NaN          NaN           NaN
50%                 NaN     NaN          NaN           NaN
75%                 NaN     NaN          NaN           NaN
max                 NaN     NaN          NaN           NaN

       acc_open_past_24mths  avg_cur_bal  bc_open_to_buy  bc_util  \
count                   0.0          0.0             0.0      0.0
mean                    NaN          NaN             NaN      NaN
std                     NaN          NaN             NaN      NaN
min                     NaN          NaN             NaN      NaN
25%                     NaN          NaN             NaN      NaN
50%                     NaN          NaN             NaN      NaN
75%                     NaN          NaN             NaN      NaN
max                     NaN          NaN             NaN      NaN

       chargeoff_within_12_mths  delinq_amnt  mo_sin_old_il_acct  \
count                   38521.0      38577.0                 0.0
mean                        0.0          0.0                 NaN
std                         0.0          0.0                 NaN
min                         0.0          0.0                 NaN
25%                         0.0          0.0                 NaN
50%                         0.0          0.0                 NaN
75%                         0.0          0.0                 NaN
max                         0.0          0.0                 NaN

       mo_sin_old_rev_tl_op  mo_sin_rcnt_rev_tl_op  mo_sin_rcnt_tl  mort_acc  \
count                   0.0                    0.0             0.0       0.0
mean                    NaN                    NaN             NaN       NaN
std                     NaN                    NaN             NaN       NaN
min                     NaN                    NaN             NaN       NaN
25%                     NaN                    NaN             NaN       NaN
50%                     NaN                    NaN             NaN       NaN
75%                     NaN                    NaN             NaN       NaN
max                     NaN                    NaN             NaN       NaN

       mths_since_recent_bc  mths_since_recent_bc_dlq  mths_since_recent_inq  \
count                   0.0                       0.0                    0.0
mean                    NaN                       NaN                    NaN
std                     NaN                       NaN                    NaN
min                     NaN                       NaN                    NaN
25%                     NaN                       NaN                    NaN
50%                     NaN                       NaN                    NaN
75%                     NaN                       NaN                    NaN
max                     NaN                       NaN                    NaN

       mths_since_recent_revol_delinq  num_accts_ever_120_pd  num_actv_bc_tl  \
count                             0.0                    0.0             0.0
mean                              NaN                    NaN             NaN
std                               NaN                    NaN             NaN
min                               NaN                    NaN             NaN
25%                               NaN                    NaN             NaN
50%                               NaN                    NaN             NaN
75%                               NaN                    NaN             NaN
max                               NaN                    NaN             NaN

       num_actv_rev_tl  num_bc_sats  num_bc_tl  num_il_tl  num_op_rev_tl  \
count              0.0          0.0        0.0        0.0            0.0
mean               NaN          NaN        NaN        NaN            NaN
std                NaN          NaN        NaN        NaN            NaN
min                NaN          NaN        NaN        NaN            NaN
25%                NaN          NaN        NaN        NaN            NaN
50%                NaN          NaN        NaN        NaN            NaN
75%                NaN          NaN        NaN        NaN            NaN
max                NaN          NaN        NaN        NaN            NaN

       num_rev_accts  num_rev_tl_bal_gt_0  num_sats  num_tl_120dpd_2m  \
count            0.0                  0.0       0.0               0.0
mean             NaN                  NaN       NaN               NaN
std              NaN                  NaN       NaN               NaN
min              NaN                  NaN       NaN               NaN
25%              NaN                  NaN       NaN               NaN
50%              NaN                  NaN       NaN               NaN
75%              NaN                  NaN       NaN               NaN
max              NaN                  NaN       NaN               NaN

       num_tl_30dpd  num_tl_90g_dpd_24m  num_tl_op_past_12m  pct_tl_nvr_dlq  \
count           0.0                 0.0                 0.0             0.0
mean            NaN                 NaN                 NaN             NaN
std             NaN                 NaN                 NaN             NaN
min             NaN                 NaN                 NaN             NaN
25%             NaN                 NaN                 NaN             NaN
50%             NaN                 NaN                 NaN             NaN
75%             NaN                 NaN                 NaN             NaN
max             NaN                 NaN                 NaN             NaN

       percent_bc_gt_75  pub_rec_bankruptcies  tax_liens  tot_hi_cred_lim  \
count               0.0          37880.000000    38538.0              0.0
mean                NaN              0.043479        0.0              NaN
std                 NaN              0.204583        0.0              NaN
min                 NaN              0.000000        0.0              NaN
25%                 NaN              0.000000        0.0              NaN
50%                 NaN              0.000000        0.0              NaN
75%                 NaN              0.000000        0.0              NaN
max                 NaN              2.000000        0.0              NaN

       total_bal_ex_mort  total_bc_limit  total_il_high_credit_limit
count                0.0             0.0                         0.0
mean                 NaN             NaN                         NaN
std                  NaN             NaN                         NaN
min                  NaN             NaN                         NaN
25%                  NaN             NaN                         NaN
50%                  NaN             NaN                         NaN
75%                  NaN             NaN                         NaN
max                  NaN             NaN                         NaN

In [33]:
# Display the column names of the DataFrame
print(df.columns)

Index(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade',
       ...
       'num_tl_90g_dpd_24m', 'num_tl_op_past_12m', 'pct_tl_nvr_dlq',
       'percent_bc_gt_75', 'pub_rec_bankruptcies', 'tax_liens',
       'tot_hi_cred_lim', 'total_bal_ex_mort', 'total_bc_limit',
       'total_il_high_credit_limit'],
      dtype='object', length=111)

In [34]:
# Increase the maximum number of columns and rows displayed in the output
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

# Calculate percentage of missing values in each column
cols_null_val_perctg = df.isnull().mean() * 100

# Display the percentage of missing values in each column
print(cols_null_val_perctg)

id                                  0.000000
member_id                           0.000000
loan_amnt                           0.000000
funded_amnt                         0.000000
funded_amnt_inv                     0.000000
term                                0.000000
int_rate                            0.000000
installment                         0.000000
grade                               0.000000
sub_grade                           0.000000
emp_title                           6.185033
emp_length                          2.677761
home_ownership                      0.000000
annual_inc                          0.000000
verification_status                 0.000000
issue_d                             0.000000
loan_status                         0.000000
pymnt_plan                          0.000000
url                                 0.000000
desc                               32.477901
purpose                             0.000000
title                               0.028514
zip_code                            0.000000
addr_state                          0.000000
dti                                 0.000000
delinq_2yrs                         0.000000
earliest_cr_line                    0.000000
inq_last_6mths                      0.000000
mths_since_last_delinq             64.559193
mths_since_last_record             92.897322
open_acc                            0.000000
pub_rec                             0.000000
revol_bal                           0.000000
revol_util                          0.129611
total_acc                           0.000000
initial_list_status                 0.000000
out_prncp                           0.000000
out_prncp_inv                       0.000000
total_pymnt                         0.000000
total_pymnt_inv                     0.000000
total_rec_prncp                     0.000000
total_rec_int                       0.000000
total_rec_late_fee                  0.000000
recoveries                          0.000000
collection_recovery_fee             0.000000
last_pymnt_d                        0.184047
last_pymnt_amnt                     0.000000
next_pymnt_d                      100.000000
last_credit_pull_d                  0.005184
collections_12_mths_ex_med          0.145164
mths_since_last_major_derog       100.000000
policy_code                         0.000000
application_type                    0.000000
annual_inc_joint                  100.000000
dti_joint                         100.000000
verification_status_joint         100.000000
acc_now_delinq                      0.000000
tot_coll_amt                      100.000000
tot_cur_bal                       100.000000
open_acc_6m                       100.000000
open_il_6m                        100.000000
open_il_12m                       100.000000
open_il_24m                       100.000000
mths_since_rcnt_il                100.000000
total_bal_il                      100.000000
il_util                           100.000000
open_rv_12m                       100.000000
open_rv_24m                       100.000000
max_bal_bc                        100.000000
all_util                          100.000000
total_rev_hi_lim                  100.000000
inq_fi                            100.000000
total_cu_tl                       100.000000
inq_last_12m                      100.000000
acc_open_past_24mths              100.000000
avg_cur_bal                       100.000000
bc_open_to_buy                    100.000000
bc_util                           100.000000
chargeoff_within_12_mths            0.145164
delinq_amnt                         0.000000
mo_sin_old_il_acct                100.000000
mo_sin_old_rev_tl_op              100.000000
mo_sin_rcnt_rev_tl_op             100.000000
mo_sin_rcnt_tl                    100.000000
mort_acc                          100.000000
mths_since_recent_bc              100.000000
mths_since_recent_bc_dlq          100.000000
mths_since_recent_inq             100.000000
mths_since_recent_revol_delinq    100.000000
num_accts_ever_120_pd             100.000000
num_actv_bc_tl                    100.000000
num_actv_rev_tl                   100.000000
num_bc_sats                       100.000000
num_bc_tl                         100.000000
num_il_tl                         100.000000
num_op_rev_tl                     100.000000
num_rev_accts                     100.000000
num_rev_tl_bal_gt_0               100.000000
num_sats                          100.000000
num_tl_120dpd_2m                  100.000000
num_tl_30dpd                      100.000000
num_tl_90g_dpd_24m                100.000000
num_tl_op_past_12m                100.000000
pct_tl_nvr_dlq                    100.000000
percent_bc_gt_75                  100.000000
pub_rec_bankruptcies                1.806776
tax_liens                           0.101097
tot_hi_cred_lim                   100.000000
total_bal_ex_mort                 100.000000
total_bc_limit                    100.000000
total_il_high_credit_limit        100.000000
dtype: float64

In [35]:
# Define a threshold for acceptable missing value percentage
threshold = 30

# Filter columns with missing value percentage below the threshold
cols_to_keep = cols_null_val_perctg[cols_null_val_perctg < threshold].index

# Display the columns to be kept
print(cols_to_keep)

Index(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade', 'emp_title',
       'emp_length', 'home_ownership', 'annual_inc', 'verification_status',
       'issue_d', 'loan_status', 'pymnt_plan', 'url', 'purpose', 'title',
       'zip_code', 'addr_state', 'dti', 'delinq_2yrs', 'earliest_cr_line',
       'inq_last_6mths', 'open_acc', 'pub_rec', 'revol_bal', 'revol_util',
       'total_acc', 'initial_list_status', 'out_prncp', 'out_prncp_inv',
       'total_pymnt', 'total_pymnt_inv', 'total_rec_prncp', 'total_rec_int',
       'total_rec_late_fee', 'recoveries', 'collection_recovery_fee',
       'last_pymnt_d', 'last_pymnt_amnt', 'last_credit_pull_d',
       'collections_12_mths_ex_med', 'policy_code', 'application_type',
       'acc_now_delinq', 'chargeoff_within_12_mths', 'delinq_amnt',
       'pub_rec_bankruptcies', 'tax_liens'],
      dtype='object')

In [36]:
# Reduce DataFrame to columns with acceptable missing value percentage
df = df[cols_to_keep]

# Identify columns with non-negative unique value count
non_neg_cols = df.nunique()  # Count unique values in each column
non_neg_cols = non_neg_cols[non_neg_cols > 1].index  # Filter for columns with > 1 unique value

# Reduce DataFrame to columns with more than 1 unique value
df = df[non_neg_cols]

# Display information about the DataFrame
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 38577 entries, 0 to 39716
Data columns (total 42 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id                       38577 non-null  int64
 1   member_id                38577 non-null  int64
 2   loan_amnt                38577 non-null  int64
 3   funded_amnt              38577 non-null  int64
 4   funded_amnt_inv          38577 non-null  float64
 5   term                     38577 non-null  object
 6   int_rate                 38577 non-null  object
 7   installment              38577 non-null  float64
 8   grade                    38577 non-null  object
 9   sub_grade                38577 non-null  object
 10  emp_title                36191 non-null  object
 11  emp_length               37544 non-null  object
 12  home_ownership           38577 non-null  object
 13  annual_inc               38577 non-null  float64
 14  verification_status      38577 non-null  object
 15  issue_d                  38577 non-null  object
 16  loan_status              38577 non-null  object
 17  url                      38577 non-null  object
 18  purpose                  38577 non-null  object
 19  title                    38566 non-null  object
 20  zip_code                 38577 non-null  object
 21  addr_state               38577 non-null  object
 22  dti                      38577 non-null  float64
 23  delinq_2yrs              38577 non-null  int64
 24  earliest_cr_line         38577 non-null  object
 25  inq_last_6mths           38577 non-null  int64
 26  open_acc                 38577 non-null  int64
 27  pub_rec                  38577 non-null  int64
 28  revol_bal                38577 non-null  int64
 29  revol_util               38527 non-null  object
 30  total_acc                38577 non-null  int64
 31  total_pymnt              38577 non-null  float64
 32  total_pymnt_inv          38577 non-null  float64
 33  total_rec_prncp          38577 non-null  float64
 34  total_rec_int            38577 non-null  float64
 35  total_rec_late_fee       38577 non-null  float64
 36  recoveries               38577 non-null  float64
 37  collection_recovery_fee  38577 non-null  float64
 38  last_pymnt_d             38506 non-null  object
 39  last_pymnt_amnt          38577 non-null  float64
 40  last_credit_pull_d       38575 non-null  object
 41  pub_rec_bankruptcies     37880 non-null  float64
dtypes: float64(13), int64(10), object(19)
memory usage: 12.7+ MB

In [37]:
# Create a new column for Debt-to-Income Ratio (monthly)
df['Debt/Income Ratio'] = df['installment'] * 100 / (df['annual_inc'] / 12)

In [38]:
# Define lists to categorize columns by data type or characteristic

num_cols = [  # Numerical columns
    'loan_amnt', 'funded_amnt', 'funded_amnt_inv', 'int_rate', 'installment',
    'annual_inc', 'dti', 'revol_bal', 'revol_util', 'total_pymnt',
    'total_pymnt_inv', 'total_rec_prncp', 'total_rec_int', 'total_rec_late_fee',
    'recoveries', 'collection_recovery_fee', 'last_pymnt_amnt', 'Debt/Income Ratio'
]

cat_cols = [  # Categorical columns
    'term', 'grade', 'sub_grade', 'emp_length', 'home_ownership',
    'verification_status', 'loan_status', 'purpose', 'addr_state', 'delinq_2yrs',
    'inq_last_6mths', 'open_acc', 'pub_rec', 'total_acc', 'pub_rec_bankruptcies'
]

date_cols = [  # Date columns
    'issue_d', 'last_pymnt_d', 'last_credit_pull_d', 'earliest_cr_line'
]

extra_cols = [  # Columns to potentially exclude from analysis
    'id', 'member_id', 'emp_title', 'pymnt_plan', 'url', 'title', 'zip_code'
]

# Calculate the total number of columns across all categories
total_cols = len(num_cols) + len(cat_cols) + len(extra_cols) + len(date_cols)

print(total_cols)  # Print the total number of columns

44

In [39]:
# Get summary information for numerical columns

print(df[num_cols].info())

<class 'pandas.core.frame.DataFrame'>
Index: 38577 entries, 0 to 39716
Data columns (total 18 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   loan_amnt                38577 non-null  int64
 1   funded_amnt              38577 non-null  int64
 2   funded_amnt_inv          38577 non-null  float64
 3   int_rate                 38577 non-null  object
 4   installment              38577 non-null  float64
 5   annual_inc               38577 non-null  float64
 6   dti                      38577 non-null  float64
 7   revol_bal                38577 non-null  int64
 8   revol_util               38527 non-null  object
 9   total_pymnt              38577 non-null  float64
 10  total_pymnt_inv          38577 non-null  float64
 11  total_rec_prncp          38577 non-null  float64
 12  total_rec_int            38577 non-null  float64
 13  total_rec_late_fee       38577 non-null  float64
 14  recoveries               38577 non-null  float64
 15  collection_recovery_fee  38577 non-null  float64
 16  last_pymnt_amnt          38577 non-null  float64
 17  Debt/Income Ratio        38577 non-null  float64
dtypes: float64(13), int64(3), object(2)
memory usage: 5.6+ MB
None

In [40]:
# Calculate missing value percentage for each numerical column
print(df[num_cols].isnull().mean() * 100)

loan_amnt                  0.000000
funded_amnt                0.000000
funded_amnt_inv            0.000000
int_rate                   0.000000
installment                0.000000
annual_inc                 0.000000
dti                        0.000000
revol_bal                  0.000000
revol_util                 0.129611
total_pymnt                0.000000
total_pymnt_inv            0.000000
total_rec_prncp            0.000000
total_rec_int              0.000000
total_rec_late_fee         0.000000
recoveries                 0.000000
collection_recovery_fee    0.000000
last_pymnt_amnt            0.000000
Debt/Income Ratio          0.000000
dtype: float64

In [ ]:
# Preprocess 'revol_util' column as it has % sign in the values

# Convert percentages to numeric
try:
  df['revol_util'] = pd.to_numeric(df['revol_util'].str.replace('%', ''), errors='coerce')
except:
  # If conversion fails, replace with NaN
  df['revol_util'] = pd.to_numeric(df['revol_util'].str.replace('%', ''), errors='replace')

# Convert from percentage to decimal (divide by 100)
df['revol_util'] = df['revol_util'] / 100

# Check for missing values before and after filling

# Print number of NaN values before filling
print("Number of NaN values before fillna:", df['revol_util'].isna().sum())

# Fill NaN values with mean (assuming missing values are a small proportion)
mean_revolve_util = df['revol_util'].median()
df['revol_util'].fillna(mean_revolve_util, inplace=True)

# Print number of NaN values after filling
print("Number of NaN values after fillna:", df['revol_util'].isna().sum())

Number of NaN values before fillna: 4
Number of NaN values after fillna: 0

In [ ]:
# Calculate missing value percentage for each categorical column
print(df[cat_cols].isnull().mean() * 100)

term                    0.000000
grade                   0.000000
sub_grade               0.011596
emp_length              3.594620
home_ownership          0.011596
verification_status     0.011596
loan_status             0.011596
purpose                 0.011596
addr_state              0.011596
delinq_2yrs             0.011596
inq_last_6mths          0.011596
open_acc                0.011596
pub_rec                 0.011596
total_acc               0.011596
pub_rec_bankruptcies    0.011596
dtype: float64

In [ ]:
# Preprocess 'emp_length' column (as it contains 'years' and 'year' suffix)

# Remove potential suffixes ('years' or 'year') using regular expressions
df['emp_length'] = df['emp_length'].str.replace('years?', '', regex=True)

# Fill missing values with the most frequent value (mode)
mode_emp_length = df['emp_length'].mode()
print("Number of NaN values before fillna:", df['emp_length'].isna().sum())
df['emp_length'].fillna(mode_emp_length[0], inplace=True)
print("Number of NaN values after fillna:", df['emp_length'].isna().sum())

In [ ]:
# Filling missing values in 'pub_rec_bankruptcies' with the mode (most frequent value)

mode_emp_length = df['pub_rec_bankruptcies'].mode()

print("Number of NaN values before fillna:", df['pub_rec_bankruptcies'].isna().sum())
df['pub_rec_bankruptcies'].fillna(mode_emp_length[0], inplace=True)
print("Number of NaN values after fillna:", df['pub_rec_bankruptcies'].isna().sum())

Number of NaN values before fillna: 1
Number of NaN values after fillna: 0

In [ ]:
# Univariate Analysis for Numerical Columns using Seaborn

for num in num_cols:
  print('\n Creating Histogram for:', num)
  plt.figure(figsize=(16, 5))  # Adjusting figure size for aesthetics

  # Customizing plot appearance using Matplotlib
  sns.histplot(
      df[num],
      color="#3f5d7d",  # Set bar color
      edgecolor="white",  # Set bar edge color
      kde=True,  # Add a density plot line
      linewidth=0.8,  # Adjust line width
      bins=20  # Adjust number of bins for smoother distribution visualization
  )

  # Customize labels and title using Matplotlib
  plt.xlabel(num, labelpad=10)  # Set x-axis label with padding
  plt.xticks(rotation=60)
  plt.ylabel('Frequency', labelpad=10)  # Set y-axis label with padding
  plt.title(f'Distribution of {num}', fontsize=14)  # Set informative title
  plt.grid(axis='y', linestyle='--', alpha=0.7)  # Add subtle gridlines on y-axis

  plt.tight_layout()  # Adjust spacing for readability
  plt.show()

In [ ]:
# Univariate Analysis for Numerical Columns with Styled Boxplots
for num in num_cols:
    print('\nCreating Boxplot for:', num)
    plt.figure(figsize=(8, 10))  # Adjust figure size for boxplots

    # Customize plot appearance using Seaborn
    sns.boxplot(
        y=num,  # Set variable on y-axis
        data=df,  # Set data frame
        showmeans=True,  # Display means as markers
        color="#ff9999"  # Set box color
    )

    # Customize labels and title using Matplotlib
    plt.xlabel('Value', labelpad=10)  # Set x-axis label with padding
    plt.ylabel(num, labelpad=10)  # Set y-axis label with padding
    plt.title(f'Distribution of {num}', fontsize=14)  # Set informative title
    plt.grid(axis='y', linestyle='--', alpha=0.7)  # Add subtle gridlines on y-axis

    plt.tight_layout()  # Adjust spacing for readability
    plt.show()

In [ ]:
# Categorical Columns Analysis using Countplots

for cat in cat_cols:
    print('\nCreating Countplot for:', cat)
    plt.figure(figsize=(16, 6))  # Adjust figure size for aesthetics

    # Create countplot with customizations using seaborn
    sns.countplot(
        x=cat,
        data=df,  # Use df directly as the data parameter
        palette="Set3",  # Set color palette
        edgecolor=".7",  # Set bar edge color
    )

    # Customize labels and title using Matplotlib
    plt.xlabel(cat, labelpad=10)  # Set x-axis label with padding
    plt.ylabel('Count', labelpad=10)  # Set y-axis label with padding
    plt.title(f'Distribution of {cat}', fontsize=14)  # Set informative title
    plt.xticks(rotation=45, ha='right')  # Rotate x-axis labels for readability (optional)
    plt.grid(axis='y', linestyle='--', alpha=0.7)  # Add subtle gridlines on y-axis

    plt.tight_layout()  # Adjust spacing for readability
    plt.show()

In [ ]:
# Bivariate Analysis for Numerical Columns with Styled Scatterplots

for i in range(len(num_cols)):
    for j in range(i+1, len(num_cols)):  # Consider only upper triangular matrix to avoid duplicate plots
        num = num_cols[i]
        num_var = num_cols[j]

        print(f'Creating Scatterplot for: {num} vs {num_var}')
        plt.figure(figsize=(25, 6))  # Adjust figure size

        # Create scatterplot with customizations using seaborn
        sns.scatterplot(
            x=num,
            y=num_var,
            data=df,
            alpha=0.7,  # Adjust transparency
            linewidth=0.8,  # Adjust line width for data points
            palette="Set2",  # Set color palette
            edgecolor=".2",  # Set data point edge color
        )

        # Customize labels and title using Matplotlib
        plt.xlabel(num, labelpad=10)  # Set x-axis label with padding
        plt.ylabel(num_var, labelpad=10)  # Set y-axis label with padding
        plt.title(f'Scatterplot: {num} vs {num_var}', fontsize=14)  # Set informative title
        plt.grid(True, linestyle='--', alpha=0.6)  # Adjust gridlines for readability

        plt.tight_layout()  # Adjust spacing for readability
        plt.show()

In [ ]:
# Categorical vs Loan Status Analysis with Styled Boxplots

for cat in cat_cols:
  print(f"\nCreating Boxplot for: {cat} vs Loan Status")
  plt.figure(figsize=(8, 10))  # Adjust figure size for readability

  # Create boxplot using seaborn with customizations
  sns.boxplot(
      x="loan_status",
      y=cat,
      showmeans=True,  # Display means as markers
      palette="Set3",  # Set color palette
      data=df
  )

  # Customize labels and title using Matplotlib
  plt.xlabel("Loan Status", labelpad=10)  # Set x-axis label with padding
  plt.ylabel(cat, labelpad=10)  # Set y-axis label with padding
  plt.title(f'Distribution of {cat} by Loan Status', fontsize=14)  # Set informative title
  plt.xticks(rotation=45, ha='right')  # Rotate x-axis labels for readability
  plt.grid(axis='y', linestyle='--', alpha=0.7)  # Add subtle gridlines on y-axis

  # Print value counts for informative purposes (optional)
  print(df[cat].value_counts())

  plt.tight_layout()  # Adjust spacing for readability
  plt.show()

In [ ]:
# Numerical vs Loan Status Analysis with Styled Boxplots

for num in num_cols:
  print(f"\nCreating Boxplot for: {num} vs Loan Status")
  plt.figure(figsize=(8, 10))  # Adjust figure size for readability

  # Create boxplot using seaborn with customizations
  sns.boxplot(
      x="loan_status",
      y=num,
      showmeans=True,  # Display means as markers
      palette="Set3",  # Set color palette
      data=df
  )

  # Customize labels and title using Matplotlib
  plt.xlabel("Loan Status", labelpad=10)  # Set x-axis label with padding
  plt.ylabel(num, labelpad=10)  # Set y-axis label with padding
  plt.title(f'Distribution of {num} by Loan Status', fontsize=14)  # Set informative title
  plt.xticks(rotation=45, ha='right')  # Rotate x-axis labels for readability
  plt.grid(axis='y', linestyle='--', alpha=0.7)  # Add subtle gridlines on y-axis

  plt.tight_layout()  # Adjust spacing for readability
  plt.show()

In [ ]:
# Multivariate Analysis: Correlation Heatmap

# Ensure 'int_rate' is numerical (assuming it's a percentage)
df['int_rate'] = df['int_rate'].str.replace('%', '').astype(float)

# Correlation matrix calculation (consider using abs() for stronger visuals)
corr_matrix = df[num_cols].corr()

# Create correlation heatmap using seaborn with customizations
plt.figure(figsize=(12, 8))  # Adjust figure size for readability
sns.heatmap(
    corr_matrix,
    annot=True,  # Display correlation values within heatmap cells
    cmap="YlGnBu",  # Set colormap (consider diverging colormap like "coolwarm")
    vmin=-1,  # Set minimum value for color range (-1 for stronger visuals)
    vmax=1  # Set maximum value for color range (1 for stronger visuals)
)

# Customize labels and title using Matplotlib
plt.xlabel('Numerical Features', labelpad=10)  # Set x-axis label with padding
plt.ylabel('Numerical Features', labelpad=10)  # Set y-axis label with padding (consider rotating for long labels)
plt.title('Correlation Heatmap of Numerical Features', fontsize=14)  # Set informative title

plt.tight_layout()  # Adjust spacing for readability
plt.show()

In [ ]:
# Grouped Bar Charts: Loan Status vs Categorical Variables

for cat_var in cat_cols:
    # Count the frequency of each combination of categories
    cross_tab = pd.crosstab(df['loan_status'], df[cat_var])

    # Create grouped bar chart with customizations
    plt.figure(figsize=(12, 8))  # Adjust figure size for readability
    ax = cross_tab.plot(kind='bar', colormap='Set3')  # Set color palette

    # Customize labels and title using Matplotlib
    ax.set_xlabel(cat_var, labelpad=10)  # Set x-axis label with padding
    ax.set_ylabel('Frequency', labelpad=10)  # Set y-axis label with padding
    ax.set_title(f'Distribution of {cat_var} by Loan Status', fontsize=14)  # Set informative title
    ax.set_xticklabels(ax.get_xticklabels(), rotation=45, ha='right')  # Rotate x-axis labels for readability
    ax.legend(title='Loan Status', loc='upper left', bbox_to_anchor=(1, 1))  # Adjust legend position
    ax.grid(axis='y', linestyle='--', alpha=0.7)  # Add subtle gridlines on y-axis

    plt.tight_layout()  # Adjust spacing for readability
    plt.show()

In [ ]:
# Violin Charts: Loan Status vs Categorical Variables

# Extract numeric values from 'term' column and convert them to integers
df['term_numeric'] = df['term'].str.extract('(\d+)').astype(int)

# Set seaborn style for all plots
sns.set_style("whitegrid")

# Set color palette for consistent visuals (optional)
palette = sns.color_palette("Set2")  # Replace with desired palette

for cat_var in cat_cols:
    print(f"\nCreating Violin Plot for Loan Status vs {cat_var}")
    plt.figure(figsize=(12, 6))

    # Create violin plot using seaborn with customizations
    ax = sns.violinplot(
        x="loan_status",
        y=cat_var,
        palette=palette,
        data=df
    )

    # Customize labels and title using Matplotlib
    plt.xlabel("Loan Status", labelpad=10)  # Set x-axis label with padding
    plt.ylabel(cat_var, labelpad=10)  # Set y-axis label with padding
    plt.title(f'Distribution of {cat_var} by Loan Status', fontsize=14)  # Set informative title
    plt.xticks(rotation=45, ha='right')  # Rotate x-axis labels for readability
    plt.grid(axis='y', linestyle='--', alpha=0.7)  # Add subtle gridlines on y-axis

    plt.tight_layout()  # Adjust spacing for readability
    plt.show()